*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
	font-family: 'kanit';
	src: url(‘/fonts/Kanit-Regular.ttf’);
}

body{
    background-color: #0A0A0A;
    
}
.Area-1{
    margin: auto;

    border-bottom: solid rgb(217, 217, 217) 2px;
    background-image: url("/image/walpaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.P-navigation{
    width: 100%;

}
.P-nav-int{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type:none;
}
.P-nav-int a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-family: "kanit";
    font-size: xx-large;
}
.coverbox{
    height: 800px;
    width: auto;
    text-align: center;
}
.Area-2{
    margin: auto;
    border-bottom: solid rgb(217, 217, 217) 2px;
    height: 150vh;

}
.twohight{
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
h1{
    font-size: 60px;
}
.twomid{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.Cassetteleft{
    height: 100%;
    width: auto;

}
.cassetteright{
    height: 100%;
    width: auto;
}
.twobottom{
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.desc{
    width: 70%;
    color: whitesmoke;
    font-size: 25px;
}
.Area-3{
    margin: auto;
    border-bottom: solid rgb(217, 217, 217) 2px;
    height: 150vh;
    display: flex;
    flex-direction: row;
}
.threeright{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.previsu{
    border-bottom: solid rgb(217, 217, 217) 2px;
    border-top: solid rgb(217, 217, 217) 2px;
    height: 60%;
    width: 80%;
    color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.monitor{
    height: auto;
    width: 90%;
}
.threeleft{
    width: 40%;
    height: 100%;
}
#bouton{
    border: solid 3px white;
    background-color: transparent;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 70%;
    
}
.desccodename{
    width: 80%;
    padding: 20px;
    font-size: 20px;
    align-items: center;
}
.vinyles{
    height: 100%;
}
.Area-4{
    margin: auto;
    height: 150vh;
    border-bottom: solid rgb(217, 217, 217) 2px;
}
.Titlefour{
    height: 30%;
    width: auto;
}
.gridtimeline{
    background-image: url(../image/linerainbowV2.png);
    background-repeat: no-repeat;
    border: solid white 2px;
    height: 70%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
